In [5]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
## Download dataset
data =  pd.read_csv("blood.csv")
## The main info about dataset
print("Amount of strings: \n", len(data))
print("The beginning of DS:  \n",data.head())
print("The ending of DS:  \n",data.tail())
print("Types of columns:  \n", data.dtypes)
print("Columns:  \n", data.columns)

print("\nСреднее значение по колонкам: \n")
print(data.mean())
print("Минимальное значение по колонкам: \n")
print(data.min())
print("Максимальное значение по колонкам: \n")
print(data.max())

Amount of strings:
 748
The beginning of DS:
    Recency  Frequency  Monetary  Time  Class
0        2         50     12500    98      1
1        0         13      3250    28      1
2        1         16      4000    35      1
3        2         20      5000    45      1
4        1         24      6000    77      0
The ending of DS:
      Recency  Frequency  Monetary  Time  Class
743       23          2       500    38      0
744       21          2       500    52      0
745       23          3       750    62      0
746       39          1       250    39      0
747       72          1       250    72      0
Types of columns:
 Recency      int64
Frequency    int64
Monetary     int64
Time         int64
Class        int64
dtype: object
Columns:
 Index(['Recency', 'Frequency', 'Monetary', 'Time', 'Class'], dtype='object')

Среднее значение по колонкам:

Recency         9.506684
Frequency       5.514706
Monetary     1378.676471
Time           34.282086
Class           0.237968
dtype: float64
Минимальное значение по колонкам:

Recency        0
Frequency      1
Monetary     250
Time           2
Class          0
dtype: int64
Максимальное значение по колонкам:

Recency         74
Frequency       50
Monetary     12500
Time            98
Class            1
dtype: int64

## Лаба 1. 
1. Выбрать интересующий Вас ДатаСет(например здесь https://www.kaggle.com/). +
2. Создать ноутбук и загрузить туда Ваш дата сет+
3. Bывести основную информацию о нем: колличество строк, начала дата сета, конец, типы колонок, список колонок, среднее-арифметическое по колонкам, мин, макс+